body {
    overflow-x: hidden;
}

.bkg_style {
    background-color: #FFFAFA;
}

.container_style {
    background-color: #FFFFFF;
    padding: 0px;

}

h2 {
    color: #191970;
}

.header-img_style {
    margin: 0 auto;
    height: 190px;
    background-image: url(../img/header-img.png);
    background-color: #FFFAFA;
    font-family: 'Verdana';
    background-repeat:no-repeat;
    background-position: center;
}
	
.input-group_padding {
    padding-top: 20px;
}

.row-search_style {
    padding-top: 30px;
    
}

.opacity {
    opacity: .3;
}

.table__style {
    font-family: 'Verdana';
}

.thead_style {
    background-color: #4169E1;
    font-family: 'Verdana';
    color: aliceblue;
}

.th_style {
    background-color: #E0FFFF;
    font-family: 'Verdana';
    color: #191970;
}

.color {
    color: #191970;
}

.no-underline:hover {
    text-decoration: none;
}