.dropdown-menu {
    width: 350px;
    height: 450px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.sd-input-group {
    background-color: whitesmoke;
    position: sticky;
    top: 0;
}

.sd-input {
    width: 94%;
    background-color: white;
}

tr.dd-line:hover {
    @extend %seccondary-color;
}

.sd-link {
    color: black;
}

.sd-link:hover {
    color: $primary-color;
}