.anchor-top {
    background-color:$primary-color;
    height: 30px;
    border: 1px solid $primary-color;
    border-radius: 10px 10px 0px 0px;
    text-align: $text-align_center;
    transition: all 0.2s ease-out;
    user-select: none;
}

.anchor-top:hover {
    background-color: $primary-color;
    height: 50px;
    border: 1px solid $primary-color;
    border-radius: 10px 10px 0px 0px;
    padding-top: 10px;
    text-align: $text-align_center;
    font-size: 18px;
    transition: all 0.2s ease-out;
    user-select: none;

}

.anchor-color {
    color: white;
}

.anchor-color:hover {
    color: white;
}